// Fonts
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css');

// Variables
@import 'variables';

// snotify
@import "~vue-snotify/styles/material";

// Vuetify
@import "~vuetify/dist/vuetify.min.css";