<template>
  <v-card max-width="1200">
    <v-toolbar color="blue-grey darken-2" dark>
      <v-toolbar-title>{{ principleNum }} principles</v-toolbar-title>
    </v-toolbar>

    <v-container fluid>
      <v-row v-if="agilePrinciples">
          <v-col
              v-for="agilePrinciple in agilePrinciples"
              :key="agilePrinciple.id"
              :cols="6"
          >
            <agile-principle-card
                :agile-principle="agilePrinciple"
                @destroy="destroy"
            ></agile-principle-card>
          </v-col>
        <v-btn dark block @click="createDialog = true" color="green darken-1">Add new principle</v-btn>
        <agile-principle-create :show="createDialog"
                            @close="createDialog = false"
                            @save="insert">
        </agile-principle-create>
      </v-row>
      <v-row v-else>
        <v-col
            v-for="n in 12"
            :key="n"
            :cols="6"
        >
          <v-skeleton-loader type="card"></v-skeleton-loader>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import AgilePrincipleCard from './AgilePrincipleCard';
import AgilePrincipleCreate from './AgilePrincipleCreate';
import AgilePrinciple from '../../models/agile-principle';

export default {
  name: 'Container',
  components: {AgilePrincipleCard, AgilePrincipleCreate},
  data: () => ({
    createDialog: false,
    ready: false,
    agilePrinciples: null,
  }),
  mounted() {
    this.fetchAgilePrinciples();
  },
  methods: {
    async fetchAgilePrinciples() {
      this.agilePrinciples = await AgilePrinciple.fetchAll() || [];
    },
    insert(agilePrinciple) {
      this.agilePrinciples.push(agilePrinciple);
    },
    destroy(agilePrinciple) {
      this.agilePrinciples = this.agilePrinciples.filter(el => el.id !== agilePrinciple.id);
    }
  },
  computed: {
    principleNum() {
      if (this.agilePrinciples !== null) {
        return this.agilePrinciples.length;
      }
      return 0;
    }
  }
};
</script>