<template>
  <v-card max-width="1200">
    <v-toolbar color="blue-grey darken-2" dark>
      <v-toolbar-title>{{ valueNum }} values</v-toolbar-title>
    </v-toolbar>

    <v-container fluid>
      <v-row v-if="agileValues">
          <v-col
              v-for="agileValue in agileValues"
              :key="agileValue.id"
              :cols="3"
          >
            <agile-value-card
                :agile-value="agileValue"
                @destroy="destroy"
            ></agile-value-card>
          </v-col>
        <v-btn dark block @click="createDialog = true" color="green darken-1">Add new value</v-btn>
        <agile-value-create :show="createDialog"
                            @close="createDialog = false"
                            @save="insert">
        </agile-value-create>
      </v-row>
      <v-row v-else>
        <v-col
            v-for="n in 4"
            :key="n"
            :cols="3"
        >
          <v-skeleton-loader type="card"></v-skeleton-loader>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import AgileValueCard from './AgileValueCard';
import AgileValueCreate from './AgileValueCreate';
import AgileValue from '../../models/agile-value';

export default {
  name: 'Container',
  components: {AgileValueCard, AgileValueCreate},
  data: () => ({
    createDialog: false,
    ready: false,
    agileValues: null,
  }),
  mounted() {
    this.fetchAgileValues();
  },
  methods: {
    async fetchAgileValues() {
      this.agileValues = await AgileValue.fetchAll() || [];
    },
    insert(agileValue) {
      this.agileValues.push(agileValue);
    },
    destroy(agileValue) {
      this.agileValues = this.agileValues.filter(el => el.id !== agileValue.id);
    }
  },
  computed: {
    valueNum() {
      if (this.agileValues !== null) {
        return this.agileValues.length;
      }
      return 0;
    }
  }
};
</script>