<template>
  <v-card>
    <v-responsive :aspect-ratio="280/234">
      <v-card-text>
        <v-row>
          <v-spacer></v-spacer>
          <v-btn
              style="position: relative; top: -10px; left: 16px; z-index: 30;"
              class="mx-2"
              x-small
              fab
              dark
              color="grey darken-2"
              @click="destroy"
          >
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-row>

        <v-textarea
            no-resize
            @focus="focus.value = true"
            @blur="update"
            @change="shouldUpdate = true"
            :outlined="focus.value"
            :solo="!focus.value"
            flat
            rows="3"
            dense
            placeholder="Agile value"
            hide-details
            v-model="agileValue.value"
            color="teal"
        ></v-textarea>

        <v-spacer></v-spacer>
        <h3 style="text-align: center">over</h3>
        <v-spacer></v-spacer>

        <v-textarea
            no-resize
            @focus="focus.over = true"
            @blur="update"
            @change="shouldUpdate = true"
            :outlined="focus.over"
            :solo="!focus.over"
            flat
            rows="3"
            dense
            placeholder="Agile over"
            hide-details
            v-model="agileValue.over"
        ></v-textarea>
      </v-card-text>
    </v-responsive>
  </v-card>
</template>

<script>
import AgileValue from '../../models/agile-value';

export default {
  name: 'ValueCard',
  props: {
    agileValue: {
      type: Object,
      default: () => new AgileValue()
    }
  },
  data: () => ({
    focus: {
      value: false,
      over: false,
      shouldUpdate: false,
    },
  }),
  methods: {
    update() {
      this.focus.value = false;
      this.focus.over = false;

      if (this.shouldUpdate) {
        this.agileValue.update()
            .then(() => this.$snotify.success('Updated!'))
            .catch(e => {
              this.$snotify.error('Error occurred when updating')
              Log.error(e);
            });

        this.shouldUpdate = false;
      }
    },
    destroy() {
      this.agileValue.destroy()
          .then(() => {
            this.$snotify.success('Removed!')
            this.$emit('destroy', this.agileValue);
          })
          .catch(e => {
            this.$snotify.error('Error occurred when removing from db')
            Log.error(e);
          });
    }
  }
};
</script>

