<template>
  <v-row justify="center">
    <v-dialog
        v-model="show"
        persistent
        max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Create Agile principle</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label="Principle" v-model="agilePrinciple.principle" required></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1"
              text
              @click="$emit('close')"
          >
            Close
          </v-btn>
          <v-btn
              color="blue darken-1"
              :loading="saving"
              text
              @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import AgilePrinciple from '../../models/agile-principle';

export default {
  name: 'AgilePrincipleCreate',
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    saving: false,
    agilePrinciple: new AgilePrinciple(),
  }),
  methods: {
    save() {
      this.saving = true;
      this.agilePrinciple.store()
          .then(({data}) => {
            this.agilePrinciple.id = data.id;
            this.saving = false;
            this.$snotify.success('Added!')
            this.$emit('save', this.agilePrinciple);
            this.$emit('close');
          })
          .catch(e => {
            this.saving = false;
            this.$snotify.error('Error occurred when adding to db')
            Log.error(e);
          });
    },
  },
};
</script>
