<template>
  <v-card>
    <v-responsive :aspect-ratio="600/173">
      <v-card-text>
        <v-row>
          <v-spacer></v-spacer>
          <v-btn
              style="position: relative; top: -10px; left: 16px; z-index: 30;"
              class="mx-2"
              x-small
              fab
              dark
              color="grey darken-2"
              @click="destroy"
          >
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-row>

        <v-textarea
            no-resize
            @focus="focus.value = true"
            @blur="update"
            @change="shouldUpdate = true"
            :outlined="focus.value"
            :solo="!focus.value"
            flat
            rows="4"
            dense
            placeholder="Agile principle"
            hide-details
            v-model="agilePrinciple.principle"
            color="teal"
        ></v-textarea>
      </v-card-text>
    </v-responsive>
  </v-card>
</template>

<script>
import AgilePrinciple from '../../models/agile-principle';

export default {
  name: 'ValueCard',
  props: {
    agilePrinciple: {
      type: Object,
      default: () => new AgilePrinciple()
    }
  },
  data: () => ({
    focus: {
      value: false,
      over: false,
      shouldUpdate: false,
    },
  }),
  methods: {
    update() {
      this.focus.value = false;
      this.focus.over = false;

      if (this.shouldUpdate) {
        this.agilePrinciple.update()
            .then(() => this.$snotify.success('Updated!'))
            .catch(e => {
              this.$snotify.error('Error occurred when updating')
              Log.error(e);
            });

        this.shouldUpdate = false;
      }
    },
    destroy() {
      this.agilePrinciple.destroy()
          .then(() => {
            this.$snotify.success('Removed!')
            this.$emit('destroy', this.agilePrinciple);
          })
          .catch(e => {
            this.$snotify.error('Error occurred when removing from db')
            Log.error(e);
          });
    }
  }
};
</script>

